server {
    listen 80;
    server_name $NGINX_SERVER_NAME;
    location / {
        proxy_set_header Host $NGINX_HOST_NAME;
        proxy_pass $NGINX_SERVER_NAME:7474;
        proxy_redirect off;
    }
}
